<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="URDF">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.182758906345787 -0.0134484847664763 0.137652991114369"
        rpy="0 0 0" />
      <mass
        value="72.4624120965553" />
      <inertia
        ixx="1.03698391979459"
        ixy="-0.000210701729020981"
        ixz="-0.116314675037364"
        iyy="2.85903838282278"
        iyz="-2.4157035399676E-05"
        izz="2.93860969077668" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Linkage">
    <inertial>
      <origin
        xyz="0.00701003026328413 0.168459146317716 0.228641447261614"
        rpy="0 0 0" />
      <mass
        value="1.33787486310773" />
      <inertia
        ixx="0.00907006794581363"
        ixy="7.52717382370763E-06"
        ixz="-5.86003487004915E-06"
        iyy="0.00606529695807179"
        iyz="-0.00402466496126211"
        izz="0.00356221856912841" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Linkage.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Linkage.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Linkage"
    type="revolute">
    <origin
      xyz="-0.3396 0 0.23219"
      rpy="2.1933 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="Linkage" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Bucket">
    <inertial>
      <origin
        xyz="0.0063976292096917 0.0200063059045625 -0.0138039146472492"
        rpy="0 0 0" />
      <mass
        value="3.11548661864267" />
      <inertia
        ixx="0.0467750299647306"
        ixy="-6.63279180774491E-10"
        ixz="-6.63292863061454E-10"
        iyy="0.080486344523465"
        iyz="0.00940057049258649"
        izz="0.0498337285837346" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Bucket.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Bucket.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Bucket"
    type="revolute">
    <origin
      xyz="0 0.24884 0.33835"
      rpy="2.5191 0 0" />
    <parent
      link="Linkage" />
    <child
      link="Bucket" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>